<!-- @format-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calculation</title>
    <style>
      body {
        text-align: center;
        color: rgb(198, 21, 21);
        background-color: chocolate;
      }
    </style>
  </head>
  <body>
    <h1>This is from Calculation.ejs</h1>
    <h2>2+5+6+8 =<%= 2+5+6+8 %></h2>
    <p>
     <% for( let i = 1; i <= 5; i++ ) { %>
    <h2>
      <%= i %>

    </h2>
     <% } %>
     
    </p>
  </body>
</html>
