<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background-color: beige;
        text-align: center;
      }

      #red {
        background-color: red;
      }

      #blue {
        background-color: blue;
      }

      #yellow {
        background-color: yellow;
      }
    </style>

    <title>COLORS</title>

  </head>
  <body>
    <h2>THIS IS FROM COLORS FILE</h2>
    <div class="color" id="red">red</div>
    <div class="color" id="blue">blue</div>
    <div class="color" id="yellow">yellow</div>
  </body>
</html>
